:root {
    /* Color Base Vars */
    --g-black: hsl(0, 0%, 12%);
    --g-dark-gray: hsl(0, 0%, 22%);
    --g-light-gray: hsl(0, 0%, 98%);
    --g-primary-tint: hsl(270, 56%, 64%);
    --g-secondary-tint: hsl(65, 56%, 54%);

    /* Color Type Vars */
    --g-text-color: var(--g-dark-gray);
    --g-header-color: var(--g-black);
    --g-link-color: var(--g-primary-tint);
    --g-link-visited-color: hsl();

    --g-text-body-size: 1.9rem;
    --g-text-h1: 4.5rem;
    --g-text-h2: 2.9rem;
    --g-text-h3: 2.1rem;
    --g-text-caption: 1.3rem;

    --g-line-height: 1.5;
}

@font-face {
	font-family: "regular";
	src: url("/fonts/regular.woff2") format("woff2");
}

html {
    font-size: 62.5%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::before,
::after {
    box-sizing: inherit;
}

body {
	color: var(--g-dark-gray);
	background-color: fcfdfc;
	font-family: "Gill Sans", "Hoefler Text", "Garamond", "Minion", serif;
	font-size: var(--g-text-body-size);
	line-height: var(--g-line-height);
	padding: 24px;
}

h1,
h2,
h3 {
	font-weight: 500;
	color: var(--g-header-color);
}

