@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: "Sentinel A", "Sentinel B";
	}

	:root {
		--primary: #f34213;
		--neutral-bg: #e7decd;
		--neutral-fg: #2e2e3a;
	}
	
	@media (prefers-color-scheme: dark) {
		:root {
			--primary: #ff653c;
			--neutral-bg: #202023;
			--neutral-fg: #f0ebe1;
		}
	}
}